/*
Colors used
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
Text Color (Dark Gray): #2b2b2b;
*/
:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --text-color: #2B2B2B;
  --h1-font-size: 30px;
  --h2-font-size: 24px;
  --h3-font-size: 24px;
  --margin: 10px;
  --padding: 10px;
  --font-weight: 400;
  --h-font-weight: 700;
  --font-size: 16px;
  --opacity: 0.8;
  --line-height: 1.6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h-font-weight);
}

.profile__text {
  flex: 1 1 100px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 0.5px solid lightgray;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.about {
  text-align: center;
}

.contact {
  text-align: center;
}

.centeredtable {
  margin-left: auto;
  margin-right: auto;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

/* Styling Header Navigation */
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Styling CSS Grid*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: Lightgrey;
  padding: var(--padding);
  /* Set width to auto*/
  width: auto;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

/* Grid fallback*/
.grid__item {
  display: inline-block;
  width: auto;
}

/* Styling Links */
a:visited {
  color: #FD3C5D;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

/* Styling Button */
button {
  border: none;
  font-family: inherit;
  background-color: #486C96;
  color: white;
  text-decoration: none;
  padding: 17px;
  border-radius: 17px;
  border-bottom: 7px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  cursor: pointer;
  opacity: var(--opacity);
}

.button__secondary {
  background-color: #e0b354;
  color: var(--text-color);
}

/* Styling Footer*/
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Media Queries*/
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

/* Button new Advanced */
button,
.button1,
.button2,
.button3,
.my-input {}

.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: var(--padding);
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: var(--opacity);
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
